:root {
  --main-color: rgba(0, 51, 102, 1);
  --copy-color: white;
  --secondary-color: rgba(128, 0, 32, 1);
  --tertiary-color: rgba(173, 216, 230, 1);
  --quaternary-color: rgba(11, 11, 49, 1);
  --quinary-color: rgba(196, 164, 132, 1);
  --senary-color: rgba(8, 143, 143, 1);
  --header-font: "griffon", serif;
  --body-font: "roboto", sans-serif;
}

/*Credit for scroll-behavior: 
https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior 
*/

html,
.content-container {
  scroll-behavior: smooth;
}

header,
body,
footer,
ul,
.home,
.projects,
.active-menu,
.project-card,
.image-container,
.info-container,
.skills,
.skills-container,
.about,
.contact-form,
.contact {
  display: flex;
}

body,
.home,
.projects,
.project-card,
.info-container,
.skills,
.about,
.contact-form,
.contact {
  flex-direction: column;
}

footer,
.home,
.projects,
.button-container,
.image-container,
.skills,
.skills-container,
.about,
.contact {
  justify-content: center;
}

nav,
.preview-copy,
span {
  align-self: center;
}

.projects,
.about,
.contact {
  align-items: center;
}

header,
footer,
.submit-cta:hover {
  background-color: var(--main-color);
}

.projects,
button,
.project-card,
.submit-cta:disabled {
  background-color: var(--tertiary-color);
}

body,
.form-input {
  font-family: var(--body-font);
}

.home,
.preview-copy,
.about p {
  text-align: left;
}

h2,
h3,
.carousel,
.project-card h4,
.info-container,
.link-container,
.skills,
.contact p,
.submit-container {
  text-align: center;
}

.preview-copy a,
.about p a,
.contact a,
.active {
  text-decoration: underline;
}

button,
.form-input {
  border: none;
}

header,
a,
.home,
.link-container i:hover,
.skills,
.submit-cta:hover {
  color: var(--copy-color);
}

button,
.link-container a,
.about p a,
.contact a,
.submit-cta:disabled {
  color: black;
}

footer,
.hamburger,
.preview-copy {
  font-size: 1.5em;
}

.about p,
.submit-cta {
  font-size: 1.2em;
}

.home,
.projects,
.skills,
.about,
.contact {
  height: 46rem;
}

header,
h2,
h3,
.home,
.carousel,
.desktop-image {
  width: 100%;
}

.about p,
.preview-copy {
  max-width: 1000px;
}

.projects,
.carousel-posts,
.skills {
  margin: auto;
}

footer,
.link-container {
  margin-top: auto;
}

body,
.image-container,
.about h2,
.contact h2 {
  margin: 0;
}

header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid var(--tertiary-color);
}

body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

footer {
  gap: 17px;
  padding: 20px;
}

.media:hover {
  transform: scale(1.2);
}

ul {
  gap: 20px;
  list-style: none;
  margin-right: 1em;
}

.hamburger-container,
.button-container {
  display: none;
}

a {
  text-decoration: none;
}

h1 {
  margin-left: 1em;
}

h1,
h2,
h3,
li {
  font-family: var(--header-font);
}

span,
.about p a,
.contact a {
  font-weight: bold;
}

.home {
  background-color: var(--secondary-color);
}

.home h2 {
  margin: 39px auto;
}

.preview-copy {
  margin: 0 2rem;
}

.button-container {
  margin-bottom: 1.5rem;
  gap: 13rem;
}

button {
  font-size: 2rem;
  cursor: pointer;
}

.carousel {
  max-width: 1124px;
}

.content-container {
  overflow: auto;
  height: 31rem;
}

.carousel-posts,
.project-card {
  box-sizing: border-box;
}

.carousel-posts {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
}

.project-card {
  width: 360px;
}

.projects h2,
.skills h2 {
  margin-bottom: 2rem;
}

.project-card h4 {
  margin-bottom: auto;
}

.info-container p {
  margin: auto 20px;
}

.link-container i:hover {
  background-color: black;
  border-radius: 2rem;
}

.link-container a {
  font-size: 2.5em;
  padding: 6px;
}

.skills {
  background-color: var(--quaternary-color);
}

.skills-container {
  flex-wrap: wrap;
  margin: 1rem auto;
}

.skills-card {
  width: calc(16% - 10px);
  margin: 10px;
}

.skills-card img {
  width: 50%;
}

.skills-card img:hover {
  transform: scale(1.1);
}

.about {
  background-color: var(--quinary-color);
}

.about p,
.contact-form {
  margin: 2rem 2rem;
}

.contact {
  background-color: var(--senary-color);
}

.contact p {
  margin: 0.5rem 2rem;
  max-width: 26rem;
}

.form-input {
  padding: 7px;
  width: 16rem;
}

.input-container {
  margin: 0.5rem;
}

.submit-container {
  margin: 1rem;
}

.submit-cta {
  padding: 6px 45px;
  box-shadow: 0 3px 6px black;
}

.submit-cta:disabled {
  opacity: 50%;
}

.error-message {
  text-align: end;
  font-size: 0.9em;
}

@media only screen and (max-width: 1156px) {
  .content-container {
    margin: auto 16px auto 16px;
  }

  .button-container {
    display: flex;
  }
}

@media only screen and (max-width: 865px) {
  .hamburger-container {
    display: block;
  }

  nav,
  ul {
    flex-direction: column;
  }

  nav {
    justify-content: center;
    display: flex;
    width: 10rem;
    height: 5rem;
    text-align: center;
  }

  ul {
    display: none;
    position: fixed;
    right: -1rem;
    top: 4.1rem;
    z-index: 1;
    text-align: left;
    padding: 30px;
    background-color: var(--main-color);
  }
}

@media only screen and (max-width: 529px) {
  ul {
    top: 6.52rem;
  }

  footer {
    font-size: 1.2em;
  }

  .skills-card {
    width: calc(23% - 10px);
  }

  .about p {
    font-size: 1em;
    margin: 2rem 0.5rem;
  }
}

@media only screen and (max-width: 396px) {
  .project-card {
    width: 264px;
  }

  .preview-copy {
    font-size: 1.2em;
    margin: 0 1rem;
  }
}
