:root {
  --main-color: rgba(0, 51, 102, 1);
  --copy-color: white;
  --secondary-color: rgba(128, 0, 32, 1);
  --tertiary-color: rgba(173, 216, 230, 1);
  --cta-color: var(--header-color);
  --header-font: "griffon", serif;
  --body-font: "roboto", sans-serif;
}

header {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  font-family: "Open Sans Bold";
  color: var(--copy-color);
}

body {
  margin: 0;
  width: 100vw;
  display: flex;
  max-width: 100%;
  height: 100vh;
  flex-direction: column;
  font-family: var(--body-font);
}

footer {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  gap: 17px;
  margin-top: auto;
  padding: 20px;
}

nav {
  align-self: center;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: 1em;
}

a {
  text-decoration: none;
  color: var(--copy-color);
}

h1 {
  margin-left: 1em;
}

h2,
h3 {
  text-align: center;
  width: 100%;
}

h1,
h2,
h3,
li {
  font-family: var(--header-font);
}

span {
  font-weight: bold;
}

.home {
  background-color: var(--secondary-color);
  color: var(--copy-color);
  width: 100%;
  height: 46rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.home h2 {
  margin: 39px auto;
}

.preview-copy {
  max-width: 1000px;
  margin: 0 2rem;
  text-align: left;
  align-self: center;
  font-size: 1.5em;
}

.projects {
  display: flex;
  height: 46rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: var(--tertiary-color);
}

.carousel {
  max-width: 1124px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.content-container {
  overflow: auto;
  scroll-behavior: smooth;
  height: 31rem;
}

.carousel-posts {
  display: grid;
  grid-auto-flow: column;
  box-sizing: border-box;
  margin: auto;
  gap: 16px;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
  box-sizing: border-box;
}

.project-card h4 {
  text-align: center;
}

.image-container {
  margin: 0;
  display: flex;
  justify-content: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info-container p {
  margin: auto 20px;
}

.link-container {
  text-align: center;
  margin-top: auto;
}

.link-container a {
  font-size: 3em;
  color: black;
  padding: 6px;
}

.skills-container {
  text-align: center;
  margin-top: auto;
}

.skills-container img {
  width: 6%;
}

.desktop-image {
  width: 100%;
}

span {
  align-self: center;
}

@media only screen and (max-width: 1156px) {
  .content-container {
    margin: auto 16px auto 16px;
  }
}
